.navigation {
  background: transparent;
  background-color: #FFEA77;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px #FFE23f;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.custom-button1 {
  border-radius: 5px;
  text-decoration: none;
  background-color: #FFEA77;
  padding: 13px 100px;
  font-size: 15px;
  color: black;
  border: none;
  cursor: pointer;
  font-family: fantasy;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 6px 0px rgba(255, 255, 0, 0.7);
}

.custom-button1:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 15px #ffe23f;
}

.margem {
  margin: 0px;
}

.custom-button:hover {
  background-color: #FFD91B;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFEA77 5%, #E1A54E 100%);
  overflow-x: hidden;
}

.title {
  text-align: center;
  color: #4b0082;
  margin-top: 150px;
}

.title2 {
  text-align: center;
  color: #4b0082;
  margin-top: -25px;
}

html {
  scroll-behavior: smooth;
}

.video {
  border-radius: 15px;
  display: block;
  width: 700px;
  height: 350px;
  display: block;
  margin: 0 auto;
}

.p {
  margin-top: -15px;
  text-align: center;
}

.p1 {
  text-align: center;
}

#leds {
  scroll-margin-top: 70px;
}
